.solution {
    width: 100%;
    padding: 20px;
    .solution-form {
        width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
    }
}