.header {
    width: 100%;
    height: 70px;
    background-color: aliceblue;
    background: url(/bg-header.png) no-repeat scroll 0 bottom;
    background-size: 100% auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .header-profile {
        height: 100%;
        position: relative;
        .header-profile_show {
            height: 100%;
            display: flex;
            align-items: center;
            margin-right: 50px;
            cursor: pointer;
            >h2 {
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
                margin: 0;
            }
            .header-profile_icon {
                margin-left: 8px;
                color: #fff;
                font-size: 20px;
            }
        }
        .header-profile_hover {
            position: absolute;
            top: 100%;
            visibility: hidden;
            right: 50px;
            width: 300px;
            height: 100px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 10px;
            opacity: 0;
            transform: translateY(20%);
            background-color: #fff;
            transition: all 0.2s linear;
            z-index: 100;
            .header-profile_control {
                width: 100%;
                height: 50px;
                padding: 10px;
                border-bottom: 2px solid rgba(239, 66, 3, 0.462);
                display: flex;
                justify-content: space-around;
                >span {
                    font-size: 16px;
                    cursor: pointer;
                }
                .active {
                    font-weight: 700;
                    color: rgb(241, 83, 4);
                }
            }
            .header-profile_main {
                width: 100%;
                height: calc(100% - 50px);
                overflow: hidden;
                .header-profile_logout {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .header-profile_changepass {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .is-change-pass {
            width: 400px;
            height: 250px;
        }
        &:hover {
            .header-profile_hover {
                visibility: visible;
                transform: translateY(-1%);
                opacity: 1;
            }
        }
    }
}