.policy {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .policy-button {
  }
  .policy-editor {
    width: 100%;
    background-color: #fff;
  }
}
